<h2> this will show a number and a name</h2>

<p> {{ 10  + 10}}</p>

<p> my name is {{ name }}</p>

<table>
    <tr>
    <th>
        name
    </th>
    <th> author </th>
    <th> genre </th>
    </tr>
<tr>
    <td> the boxer</td>
    <td> kim jong</td>
    <td> sport </td>
</tr>
</table>

<div class = "tables">
<table style="width:100%">
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>
</div>

<button id="color" (onclick)="colorChange()"> click to change color</button>
<button id="color" (onclick)="addnum()"> click to change color</button>
<button id="color" onclick="minusnum()"> click </button>


<p> {{ number }}</p>
<p>current color: {{ color }}</p>
