
.jumbotron-flat {
  height: 100%;
  border: 1px solid #4DB8FF;
  background: white;
  width: 100%;
text-align: center;
overflow: auto;
  color: var(--dark-color);
}

.paymentAmt {
  color: var(--dark-color);
    font-size: 80px; 
}

.centered {
    text-align: center;
}